/* This is your CSS file.


Remember, you can define color values is several different ways:

- By words like blue, red, black.
- By RGB values like rgb(100,200,0)
- By Hex value like #FFFFFF or #990000

  */

body {
	background-color: white;
	color: black;
	font-family: 'karla', sans-serif;




/*  ==========================================
	It's also helpful to add some padding to your
	page so the content isn't so close to the edges
	=========================================== */
	padding:40px;

}
img{
    width:100px;
    height:100px;
}

h1 {
	text-align: center;
}

h3{ text-align: center;
	font-size: 13;

}

p{

/*  ==========================================
	   Try changing the color or size of paragraph text:
	  =========================================== */

	color:black;
	font-size:16px;

}
iframe{
	border: 1px solid black;
}

a{

/*  ==========================================
	Try changing the color of links:
=========================================== */


	color:rgb(0,0,0);


}