/* This is your CSS file.


Remember, you can define color values is several different ways:

- By words like blue, red, black.
- By RGB values like rgb(100,200,0)
- By Hex value like #FFFFFF or #990000

  */

body {

/*  ==========================================
	Try changing the background color of the entire webpage
	=========================================== */

	background-color: #1f2538;


/*  ==========================================
	It's also helpful to add some padding to your
	page so the content isn't so close to the edges
	=========================================== */
	padding:20px;

}

a:link {

	color:white;
	text-decoration: none;
}

a:visited {
	color:#808080;
} 

div{
	margin-left:350px;

}

p{
	color:white;

}

h1{ color: #d12240;

}

/*  ==========================================
	   Try changing the color or size of paragraph text:
	  =========================================== */

	color:black;
	font-size:16px;

}

a{

}

div.signature {

	width: 20px;
	height: 30px;
	color:red;

}


iframe{

	background-color:white;

}

img{
	width: 300px;
	margin-left:160px;
}
/*  ==========================================
	Try changing the color of links:
=========================================== */


	color:rgb(100,200,0);


}